#Set

Set adalah item bersifat unik dan tnapa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada set kita dapat melakukan union dan intersection, seklaigus otomatis melakukan penghapusan data duplikat.

In [1]:
#contoh set
S1={1, "dua", True, 2+3j}

print(type(S1))

<class 'set'>

In [2]:
#sifat sifat set

#Tidak terurut/unordered
print("memanggil set S1 dengan indeks urutan:", S1[0:3]])

SyntaxError: ignored

In [3]:
#tidak bisa diganti/immutable
S1[1]=2
print("set S1 setelah diganti elemennya:",S1)

TypeError: ignored

In [4]:
S1={1,"dua", True, 2+3j}

#dapat diindeks/slicing
print("slicing set S1:", S1[3])

TypeError: ignored

In [5]:
#dapat diijinkan duplikasi
S1={1,"dua", True,True,2+3j,2+3j} #boolean tidak terbaca atau dianggap tidak ada
print("duplikasi pada set S1:", S1)

duplikasi pada set S1: {1, 'dua', (2+3j)}

#Latihan

In [18]:
#buatlah stuktur data set mu sendiri
 
M1={2,"Mobil",True, 3+4j}
print(type(M1))
print('-'*20)

#Tidak Teururut 
print("memanggil set M1 dengan tidak terurut :", M1)
print('-'*20)

<class 'set'>
--------------------
memanggil set M1 dengan tidak terurut : {True, 2, 'Mobil', (3+4j)}
--------------------

In [17]:
#tidak dapat di ganti
M1[1]=2
print('-'*20)

TypeError: ignored

In [16]:
#dapat diindeks
M1={2,"Mobil",True, 3+4j}
print("scaling data set M1 :", M1[2])

TypeError: ignored

In [19]:
#dapat duplikasi
M1={2,3,"Nasi","Mobil",True,True, 3+4j}
print("duplikasi data set M1:", M1)

duplikasi data set M1: {True, 2, 3, 'Nasi', (3+4j), 'Mobil'}