#Konversi Struktur Data

fungsi untuk mengubah/mkonversi struktur data :
a. `list()` : untuk mengubah menjadi list
b. `tuple()` : untuk mengubah menjadi tuple
c. `set()` : untuk mengubah menjadi set
d. `dict()` : untuk emngubah menajdi distionary

#Mengkonversi tipe data list

In [1]:
#membuah 2 list
L1=[1,2,3,4]
L2=[5,6,7,8]

In [4]:
#mengkonversikan struktur data list
k_tuple =tuple(L1)
k_set=set(L2)
k_dict=dict(zip(L1,L2))
#melihat data yang telah dikonveri
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4)
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

#mengkonveri tipe data tuple :

In [5]:
#membuat dua tuple
T1=(1,2,3,4)
T2=(5,6,7,8)

In [16]:
#mengkonversi struktur data tuple
k_list=list(T1)
k_set=set(T2)
k_dict=dict(zip(T1,T2))
#melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[1, 2, 3, 4]
{8, 5, 6, 7}
{1: 5, 2: 6, 3: 7, 4: 8}

#mengkonversi tipe data set

In [7]:
#membuat data set
S1={1,2,3,4}
S2={5,6,7,8}

In [8]:
#mengkonversi struktur data tuple
k_list=list(S1)
k_tuple=tuple(S2)
k_dict=dict(zip(S1,S2))
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[1, 2, 3, 4]
(8, 5, 6, 7)
{1: 8, 2: 5, 3: 6, 4: 7}

#Mengkonversi tipe data list

In [12]:
#membuat dictionary
D={"nama":"Andi",
   "alamat":"yogyakarta",
   "umur":20}

In [14]:
#mengkonversi struktur data dictionary dari key dan value-nya 
k_list=list(D.keys())
k_tuple = tuple(D.values())
K_set=set(D.keys())
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['nama', 'alamat', 'umur']
('Andi', 'yogyakarta', 20)
{8, 5, 6, 7}

#Latihan

In [ ]:
#lakukan konversi struktur adata yang kalian buat pada notebook-notebook
#sebelumnya menjadi list,tuple,set dan dictionary ( masing-masing satu)

In [15]:
#List 
M1=[1,2,3,4,5]
M2=["data", "sains", 12]
#mengkonversikan struktur data list
k_tuple =tuple(M1)
k_set=set(M2)
k_dict=dict(zip(M1,M2))
#melihat data yang telah dikonveri
print(k_tuple)
print(k_set)
print(k_dict)

(1, 2, 3, 4, 5)
{'data', 12, 'sains'}
{1: 'data', 2: 'sains', 3: 12}

In [17]:
#Tuple
M1=(2, 30, False, 3+2j)
M2=(1,1,True,2+3j,3)
#mengkonversi struktur data tuple
k_list=list(M1)
k_set=set(M2)
k_dict=dict(zip(M1,M2))
#melihat data yang telah dikonversi
print(k_list)
print(k_set)
print(k_dict)

[2, 30, False, (3+2j)]
{3, 1, (2+3j)}
{2: 1, 30: 1, False: True, (3+2j): (2+3j)}

In [18]:
#Set
M1={2,"Mobil",True, 3+4j}
M2={10,2,4,5,9}
#mengkonversi struktur data tuple
k_list=list(M1)
k_tuple=tuple(M2)
k_dict=dict(zip(M1,M2))
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_dict)

[True, 2, (3+4j), 'Mobil']
(2, 4, 5, 9, 10)
{True: 2, 2: 4, (3+4j): 5, 'Mobil': 9}

In [21]:
#Dictionary
M={"saya":"Maya Rajuningsih",
    "umur":19,
    "jurusan": "Matematika"}
#mengkonversi struktur data dictionary dari key dan value-nya 
k_list=list(M.keys())
k_tuple = tuple(M.values())
k_set=set(M.keys())
#melihat data yang telah dikonversi
print(k_list)
print(k_tuple)
print(k_set)

['saya', 'umur', 'jurusan']
('Maya Rajuningsih', 19, 'Matematika')
{'jurusan', 'saya', 'umur'}